pandas
scikit-learn
fairlearn
shap
scipy
matplotlib
joblib
pytest
mlflow
dvc
dvc-gs
fastapi
uvicorn
opentelemetry-exporter-gcp-trace
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
